html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.login_box{
    height: 50vh;
    width: 40vw;
    background-color: red;
    border-radius: 20px;
    padding: 25px;
    margin-left:20vw;
}

.form{
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top:3vh ;
}
.input{
    height:4vh;
    border-radius:10px;
    width:25vw;
    text-align:center;
    font-size: 18px;
    text-shadow: 100px;
}

.addProduct{
    background-color: red;
    align-items: center;
    margin: 120px;
}